body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

@media (min-width: 681) and (max-width: 1072) {
  .left{
    float: left;
  }
}

@media (min-width: 1072) and (max-width: 1237) {
  .left{
    float: left;
  }
}

@media (min-width: 1238){
  .card{
    display: inline-block;

  }
  .tile-image{
    float: left;
  }

}