.yellow{
  height: 100px;
  width: 100px;
  background-color: yellow;
  border-radius: 10px;
  position: absolute;
}

.red{
  height: 100px;
  width: 100px;
  background-color: red;
  border-radius: 10px;
  position: absolute;
}
.green{
  height: 100px;
  width: 100px;
  background-color: green;
  border-radius: 10px;
}
.blue{
  height: 100px;
  width: 100px;
  background-color: blue;
  border-radius: 10px;
}
