/*External CSS: style="background-color: white
/********************TAG SELECTORS*************************/
body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}
h1 {
  /*font-size: 200px;
  color: #66bfbf;*/
  margin-top: 0;
  font-family: 'Sacramento', cursive;
}
h2 {
    font-family: 'Montserrat', sans-serif;
}
h3 {
  font-family: 'Montserrat', sans-serif;
}
body {
  background-color: #eaf6f6;
}
hr {
 border-color: grey;
 border-style: none;
 border-top-style: dotted;
 border-width: 5px;
 width: 5%
}

img:hover {
 background-color: gold;
}


/********************CLASS SELECTORS*************************/
/*
.bacon {
  background-color: blue;
}
*/
.top-container {
  background-color: #eaf6f6;
  padding-top: 100px;
  position: relative;
  /*margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  /*display: inline-block;
  position: relative;
  left: 200px;*/

}
.middle-container {
  /*background-color: red;
  height: 200px;
  width: 200px;
  /*display: inline-block;
  position: relative;
  left: 200px;*/
}
.bottom-container {
  /*background-color: blue;
  height: 200px;
  width: 200px;
  /*display: inline-block;
  position: relative;
  left: 200px;*/
}

.pro{
  text-decoration: underline;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;

}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
/*body{
  margin: 0px;
}
.red {
  background-color: red;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 200px;
  top: 0px;
}
.container {
  background-color: grey;
  height: 300px;
  width: 300px;
  position: relative;
  left: 0px;
  top: 0px;
}
.blue {
  background-color: blue;
  height: 100px;
  width: 100px;
  position: absolute;
  left:100px;
  top: 0;
}
.yellow {
  background-color: yellow;
  height: 100px;
  width: 100px;
  position: fixed;
  top: 0;
} */
/********************ID SELECTORS*************************/
/*
#heading {
  color: blue;
}
*/
