/*External CSS: style="background-color: white
/********************TAG SELECTORS*************************/
body{
  margin: 0;
}
h1 {
  /*font-size: 200px;
  color: #66bfbf;*/
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}
/*h3 {
  color: #66bfbf;
}
body {
  background-color: #eaf6f6;
}
hr {
 border-color: grey;
 border-style: none;
 border-top-style: dotted;
 border-width: 5px;
 width: 5%
}

 img:hover {
 background-color: gold;
}
*/
div{
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  background-color: #eaf6f6;
}

/********************CLASS SELECTORS*************************/
/*
.bacon {
  background-color: blue;
}

*/
/********************ID SELECTORS*************************/
/*
#heading {
  color: blue;
}
*/
