/*External CSS: style="background-color: white
/********************TAG SELECTORS*************************/
body{
  margin: 0;
}
h1 {
  /*font-size: 200px;
  color: #66bfbf;*/
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}
/*h3 {
  color: #66bfbf;
}
body {
  background-color: #eaf6f6;
}
hr {
 border-color: grey;
 border-style: none;
 border-top-style: dotted;
 border-width: 5px;
 width: 5%
}

 img:hover {
 background-color: gold;
}
*/

/********************CLASS SELECTORS*************************/
/*
.bacon {
  background-color: blue;
}
*/
.top-container {
  padding: 20px;
  background-color: #eaf6f6;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  /*display: inline-block;
  position: relative;
  left: 200px;*/
}
.middle-container {
  background-color: red;
  height: 200px;
  width: 200px;
  /*display: inline-block;
  position: relative;
  left: 200px;*/
}
.bottom-container {
  background-color: blue;
  height: 200px;
  width: 200px;
  /*display: inline-block;
  position: relative;
  left: 200px;*/
}

.pro{
  text-decoration: underline;
}
/********************ID SELECTORS*************************/
/*
#heading {
  color: blue;
}
*/
